body {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  z-index: 10001;
}
.navbar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9fcfb1;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: black;
}

.logo img {
  width: 100px;
  height: auto;
  padding-left: 20px;
}
.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-links.visible {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: static;
    display: none;
    width: 100%;
    background-color: #9fcfb1;
    padding: 0;
  }
  .nav-links.visible {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
